/*
    CSS for resume page
*/
/*
    General
*/
main {
    background-color: black;
}

/*
    Resume Intro
*/

.sectionIntro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ResumeIcon {
    color: white;
    height: 100px;
    width: 100px;
}

.ResumeHeading {
    padding-top: 20px;
    color: white;
    letter-spacing: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: 200;
}

.ResumeDisplayArea {
    width: 80%;
    margin: 0 auto;
}

.ResumeDisplayButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 60%;
}

.ResumeDisplayButton {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 30px 0 0 0;
    border-color: white;
    border-left: 0;
    border-bottom: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.ResumeDisplayButtonN {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 30px 0 0 0;
    border: transparent;
    background-color: rgb(216, 206, 192);
    color: black;
    cursor: pointer;
}

.resumeHeading {
    text-align: center;
    padding-top: 40px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

/*
    Resume Components
*/

.resumeHero {
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    /* display: flex;
    justify-content:space-evenly */
    /* gap: 2vw; */
}

.resumeImage {
    border-radius: 80%;
    width: 300px;
    height: 350px;
}

.resumeHeroHeading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.resumeHero aside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Education {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.EducationRight {
    width: 100%;
}

.EducationRight h2 {
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
    letter-spacing: 2px;
    font-size: 24px;
}

.EducationRight h3 {
    font-family:'Courier New', Courier, monospace;
    font-size: 17px;
    letter-spacing: 1.5px;
}

.EducationLeft {
    width: 100%;
}

.EducationLeft h3 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    letter-spacing: 1.5px;
}


.resumeContainer {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(214, 212, 209);
    border-radius: 0 20px 20px 20px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

.ResumeList {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px black solid;
}

.ResumeList:last-child {
    border: none;
}

.ResumeList h3 {
    font-size: 32px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-weight: 400;
}

.ResumeList h4 {
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 300;
}

.ResumeListRight h4 {
    font-size: 22px;
    font-weight: 400;
}


.workDescription {
    width: 80%;
    margin: 0 auto;
}

.jobDesc{
    list-style:none;
    line-height: 20px;
    padding-bottom: 15px;
    letter-spacing: 1px;
    font-size: 16px;
}


/* .resumeListContainer {

} */

/* .ResumeList {

} */