/**
    CSS for Home page
**/

/*
    Home page hero section
*/

.HomeBackGround {
    background-color: black;
}

.HomeHeroSection {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65)), url("../../SharedComponents/Imgs/SoloImages/Jay/whenNothingGoesRight.jpg");
    width: 100%;
    min-height: 750px;
    background-position: 50% 90%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* filter: brightness(50%); */
}

.temp {
    height: 1000px;
}

.HomeHeaders {
    text-align: center;
    padding-top: 200px;
    color: white;
}

.HomeHeaderStart {
    letter-spacing: 6px;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 5vw;
    text-transform: uppercase;
}

.HomeHeaderStart span {
    color: black;
}

.HomeHeaderContent {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 8px;
    font-family: 'Corben', serif;
    text-transform: uppercase;

}

.RedUnderLine {
    background-color: rgb(223, 46, 46);
    width: 60vw;
    height: 0.2px;
    margin: 0 auto;
    margin-top: 20px;
}

/**********************************************************************************************
    Home Project Section
***********************************************************************************************/
.LatestProjectContainer {
    width: 80%;
    padding: 40px 0;
    margin: 0 auto;
}

.HomeProjectHeader {
    color: white;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    letter-spacing: 1px;
}

.HomeProjectHeader.later {
    font-size: 48px;
}

.homeLatestProjectsContainer {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.homeProjectsFlex {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.tempImage {
    width: 30vw;
    cursor: pointer;
}

.midamLogo {
    width: 15vw;
    align-self: center;
    justify-self: center;
}

.latestProjectTitle {
    color: white;
    text-align: center;
    font-weight: 100;
    padding-top: 10px;
    letter-spacing: 1px;
}

.HomeProjectLinkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.HPLHelper {
    width: 50%;
    display: flex;
    border: 1px solid black;
}

.HPLHelper:hover {
    border-color: red;
}

.moreProjectsButton {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 4%;
}


/**********************************************************************************************
    Home About us Section
***********************************************************************************************/

.homeProfile {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    color: white;
    padding-bottom: 60px;
}

.profileImage {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.homeProfileContainer {
    width: 60%;
}

.homeProfileHeaderContainer {
    display: flex;
    justify-content: center;
}

.homeProfileHeader {
    font-size: 20px;
    font-weight: 100;
}

.homeProfileHeader.later {
    font-size: 48px;
}

.profileUnderLine {
    width: 60%;
    align-self: center;
    height: 1px;
    background-color: rgb(77, 77, 77);
}

/*Might have to change fonts later*/
.profileText {
    font-weight: 300;
    text-rendering: optimizeLegibility;
    margin: 3vw 2vw 2vw 1vw;
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.moreButtonContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learnMoreButton {
    width: 20vw;
    height: 8vw;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    border-radius: 10px;
}

.learnMoreButton p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.learnMoreButton:hover {
    background-color: white;
    color: black;
}

/*
    Media Queries for view port
*/

/**********************************************************************************************
    For viewport >= 1200
***********************************************************************************************/

@media only screen and (min-width: 1200px) and (max-width: 1700px) {

    .HomeHeaders {
        padding-top: 200px;
    }

    .HomeHeaderStart {
        letter-spacing: 6px;
        font-size: 48px;
    }

    .HomeHeaderContent {
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 8px;

    }

    /**********************************************************************************************
        Home Project Section
    ***********************************************************************************************/

    .HomeProjectHeader {
        font-size: 24px;
        padding-top: 12px;
        letter-spacing: 1px;
    }

    .HomeProjectHeader.later {
        font-size: 48px;
    }

    .homeLatestProjectsContainer {
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    .latestProjectTitle {
        font-size: 14px;
        padding-top: 10px;
        letter-spacing: 1px;
    }

    

    /**********************************************************************************************
        Home About us Section
    ***********************************************************************************************/

    .homeProfile {
        padding-bottom: 60px;
    }

    .profileImage {
        width: 30%;
    }

    .homeProfileContainer {
        width: 60%;
    }

    .homeProfileHeader {
        font-size: 18px;
    }

    .homeProfileHeader.later {
        font-size: 38px;
    }

    /*Might have to change fonts later*/
    .profileText {
        margin: 3vw 2vw 2vw 2vw;
        line-height: 25px;
        font-size: 16px;
        letter-spacing: 1.5px;
    }

    .learnMoreButton p {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1200px) {
    .HomeHeaders {
        padding-top: 150px;
    }

    .HomeHeaderStart {
        letter-spacing: 6px;
        font-size: 42px;
    }

    .HomeHeaderContent {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 8px;

    }

    /**********************************************************************************************
        Home Project Section
    ***********************************************************************************************/

    .HomeProjectHeader {
        font-size: 20px;
        padding-top: 12px;
        letter-spacing: 1px;
    }

    .HomeProjectHeader.later {
        font-size: 42px;
    }

    .homeLatestProjectsContainer {
        padding-top: 60px;
    }

    .latestProjectTitle {
        font-size: 14px;
    }

    /**********************************************************************************************
        Home About us Section
    ***********************************************************************************************/

    .homeProfile {
        padding-bottom: 60px;
    }

    .homeProfileHeader {
        font-size: 16px;
    }

    .homeProfileHeader.later {
        font-size: 32px;
    }

    /*Might have to change fonts later*/
    .profileText {
        margin: 3vw 2vw 2vw 2vw;
        line-height: 25px;
        font-size: 15px;
        letter-spacing: 1.2px;
    }

    .learnMoreButton p {
        font-size: 20px;
    }
}

/**********************************************************************************************
    For viewport >= 992
***********************************************************************************************/
@media only screen and (max-width: 992px) {

    .HomeHeroSection {
        min-height: 750px;
        background-position: 50% 100%;
        background-size: cover;
    }

    .HomeHeaders {
        padding-top: 200px;
    }

    .HomeHeaderStart {
        letter-spacing: 6px;
        font-size: 40px;
    }

    .HomeHeaderContent {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 8px;

    }

    /**********************************************************************************************
        Home Project Section
    ***********************************************************************************************/

    .HomeProjectHeader {
        font-size: 20px;
        padding-top: 12px;
        letter-spacing: 1px;
    }

    .HomeProjectHeader.later {
        font-size: 40px;
    }

    .latestProjectTitle {
        font-size: 14px;
        padding-top: 10px;
        letter-spacing: 1px;
    }

    /**********************************************************************************************
        Home About us Section
    ***********************************************************************************************/

    .homeProfile {
        padding-bottom: 60px;
    }

    .profileImage {
        width: 30%;
    }

    .homeProfileContainer {
        width: 60%;
    }

    .homeProfileHeader {
        font-size: 12px;
    }

    .homeProfileHeader.later {
        font-size: 24px;
    }

    /*Might have to change fonts later*/
    .profileText {
        margin: 3vw 2vw 2vw 2vw;
        line-height: 18px;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 300;
    }

    .learnMoreButton p {
        font-size: 15px;
    }
}

/**********************************************************************************************
    For viewport >= 768
***********************************************************************************************/
@media only screen and (max-width: 768px) {

    .HomeHeroSection {
        min-height: 750px;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: scroll;
    }

    .HomeHeaders {
        padding-top: 200px;
    }

    .HomeHeaderStart {
        letter-spacing: 6px;
        font-size: 40px;
    }

    .HomeHeaderContent {
        font-size: 14px;
    }

    /**********************************************************************************************
        Home Project Section
    ***********************************************************************************************/

    .HomeProjectHeader {
        font-size: 18px;
    }

    .HomeProjectHeader.later {
        font-size: 38px;
    }

    .homeLatestProjectsContainer {
        padding-top: 80px;
    }

    .latestProjectTitle {
        font-size: 12px;
    }

    .HomeProjectLink {
        font-size: 12px;
        padding: 2%;
    }



    /**********************************************************************************************
        Home About us Section
    ***********************************************************************************************/

    .homeProfile {
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .homeProfile:last-child {
        flex-direction: column-reverse;
    }

    .profileImage {
        width: 60%;
        padding-bottom: 30px;
    }

    .profileUnderLine {
        width: 100%;
    }

    .homeProfileContainer {
        width: 100%;
    }

    .homeProfileHeader {
        font-size: 12px;
    }

    .homeProfileHeader.later {
        font-size: 32px;
    }

    /*Might have to change fonts later*/
    .profileText {
        margin: 3vw 2vw 2vw 2vw;
        line-height: 25px;
        font-size: 14px;
        letter-spacing: 1.5px;
    }

    .learnMoreButton {
        width: 300px;
        padding: 20px 40px;
        height: auto;
    }

    .learnMoreButton:active {
        color: black;
        background-color: white;
    }

    .learnMoreButton p {
        font-size: 15px;
    }
}

/**********************************************************************************************
    For viewport >= 600
***********************************************************************************************/

@media only screen and (max-width: 600px) {

    .HomeHeroSection {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.65)), url("../../SharedComponents/Imgs/SoloImages/Jay/whenNothingGoesRight.jpg");
        min-height: 700px;
        background-position: 50% 50%;
        background-size: cover;
        background-attachment: scroll;
    }

    .HomeHeaders {
        padding-top: 200px;
    }

    .HomeHeaderStart {
        letter-spacing: 6px;
        font-size: 32px;
    }

    .HomeHeaderContent {
        font-size: 12px;
        letter-spacing: 5px;
    }

    /**********************************************************************************************
        Home Project Section
    ***********************************************************************************************/

    .HomeProjectHeader {
        font-size: 14px;
    }

    .HomeProjectHeader.later {
        font-size: 32px;
    }

    .homeLatestProjectsContainer {
        padding-top: 60px;
    }

    .latestProjectTitle {
        font-size: 8px;
    }

    .HomeProjectLink {
        padding: 4%;
        font-size: 15px;
    }

    /**********************************************************************************************
        Home About us Section
    ***********************************************************************************************/

    .homeProfile {
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .homeProfile:last-child {
        flex-direction: column-reverse;
    }

    .profileImage {
        width: 60%;
        padding-bottom: 40px;
    }

    .profileUnderLine {
        width: 100%;
    }

    .homeProfileContainer {
        width: 100%;
    }

    .homeProfileHeader {
        font-size: 10px;
    }

    .homeProfileHeader.later {
        font-size: 20px;
    }

    /*Might have to change fonts later*/
    .profileText {
        margin: 3vw 2vw 2vw 2vw;
        line-height: 22px;
        font-size: 11px;
        letter-spacing: 1.5px;
    }

    .learnMoreButton {
        width: 300px;
        padding: 20px 40px;
        height: auto;
    }

    .learnMoreButton:active {
        color: black;
        background-color: white;
    }

    .learnMoreButton p {
        font-size: 15px;
    }
}