/*
    CSS for Footer
*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footerHead {
    font-size: 36px;
    font-family: 'Roboto slab', serif;
    font-weight: 100;
    color: white;
    letter-spacing: 3px;
}

.footerHead span {
    color: rgb(223, 46, 46);
}

/*
    Media Queries for view port
*/

/**********************************************************************************************
    For viewport >= 1200
***********************************************************************************************/

@media only screen and (max-width: 1200px) {
    .footer {
        padding-bottom: 70px;
    }
    
    .footerHead {
        font-size: 32px;
        letter-spacing: 3px;
    }    
}

/**********************************************************************************************
    For viewport >= 992
***********************************************************************************************/
@media only screen and (max-width: 992px) {
    .footer {
        padding-bottom: 50px;
    }
    
    .footerHead {
        font-size: 28px;
        letter-spacing: 3px;
    }   
}

/**********************************************************************************************
    For viewport >= 768
***********************************************************************************************/
@media only screen and (max-width: 768px) {
    .footer {
        padding-bottom: 30px;
    }
    
    .footerHead {
        font-size: 20px;
        letter-spacing: 3px;
    }  
}

/**********************************************************************************************
    For viewport >= 600
***********************************************************************************************/

@media only screen and (max-width: 600px) {
    .footer {
        padding-bottom: 30px;
    }
    
    .footerHead {
        font-size: 20px;
        letter-spacing: 3px;
    }  
}