.ProjectPage {
    background-color: black;
}

.ProjectsMain {
    width: 80%;
    margin: 0 auto;
}

/*
    Project container
*/
.projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/*
    Project Item Card section
*/

.ProjectItemCard {
    box-shadow: 0 24px 48px rgba(255, 243, 243, 0.075);
    border: 1px white solid;
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4;
    cursor: pointer;
}

.ProjectItemCard:hover {
    transform: translateY(-12px);
    box-shadow: 0 32px 64px rgba(241, 236, 236, 0.06);
}

.projectTitle {
    font-size: 32px;
    color: white;
    font-weight: 400;
    margin: 15px 0;
    letter-spacing: 2px;
    text-align: center;
}

/* Image for Project Card */
.PICHero {
    width: 100%;
    height: 40%;
    background-color: white;
}

/* Language tags for Project Card */
.projectCircleContainer {
    display: flex;
    padding: 0 10px;
    gap: 10px;
}

.projectLanguageCircle {
    color: black;
    list-style: none;
    background-color: wheat;
    padding: 5px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
}

/* Project Card Status Section */
.projectCardFlex {
    display: flex;
    padding: 10px 10px 0px 10px;
    color: white;
    gap: 10px;
}

.PCSpan {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.PCStatus {
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}

.PCTrue {
    background-color: rgb(62, 62, 190);
}

.PCFalse {
    background-color: rgb(163, 42, 42);
}

/* Used to make project cards responsive */
.PCResponsive {
    display: flex;
    padding-top: 20px;
}

/*
    Actual Project Section starts here
*/

/**********************************************************************************************
    For viewport >= 1200
***********************************************************************************************/

@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    /*
    Project Item Card section
    */
    .projectTitle {
        font-size: 24px;
        color: white;
        font-weight: 400;
        margin: 15px 0;
        letter-spacing: 2px;
        text-align: center;
    }

    /* Language tags for Project Card */
    .projectCircleContainer {
        padding: 0 10px;
        gap: 10px;
    }

    .projectLanguageCircle {
        padding: 5px 8px;
        font-size: 13px;
    }

    /* Project Card Status Section */
    .projectCardFlex {
        padding: 10px 10px 0px 10px;
        gap: 10px;
    }

    .PCSpan {
        font-size: 13px;
        padding: 4px 0;
    }

    .PCStatus {
        padding: 4px 10px;
        border-radius: 15px;
        font-size: 13px;
        font-weight: 400;
    }

    .PCTrue {
        background-color: rgb(62, 62, 190);
    }

    /* Used to make project cards responsive */
    .PCResponsive {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 1200px) {
        /*
    Project Item Card section
    */
    .projectTitle {
        font-size: 24px;
        margin: 15px 0;
    }

    /* Language tags for Project Card */
    .projectCircleContainer {
        padding: 0 10px;
        gap: 10px;
    }

    .projectLanguageCircle {
        padding: 5px 8px;
        font-size: 12px;
    }

    /* Project Card Status Section */
    .projectCardFlex {
        padding: 10px 10px 0px 10px;
        gap: 10px;
    }

    .PCSpan {
        font-size: 12px;
        padding: 4px 0;
    }

    .PCStatus {
        padding: 4px 10px;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 400;
    }

    .PCTrue {
        background-color: rgb(62, 62, 190);
    }

    /* Used to make project cards responsive */
    .PCResponsive {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/**********************************************************************************************
    For viewport >= 992
***********************************************************************************************/
@media only screen and (max-width: 992px) {
            /*
    Project Item Card section
    */
    .projectTitle {
        font-size: 20px;
        margin: 10px 0;
    }

    /* Language tags for Project Card */
    .projectCircleContainer {
        padding: 0 10px;
        gap: 5px;
    }

    .projectLanguageCircle {
        padding: 5px 5px;
        font-size: 10px;
    }

    /* Project Card Status Section */
    .projectCardFlex {
        padding: 5px 5px 0px 5px;
        gap: 10px;
    }

    .PCSpan {
        font-size: 10px;
        padding: 4px 0;
    }

    .PCStatus {
        padding: 4px 10px;
        border-radius: 15px;
        font-size: 10px;
    }

    .PCTrue {
        background-color: rgb(62, 62, 190);
    }

    /* Used to make project cards responsive */
    .PCResponsive {
        flex-direction: column;
        padding-top: 10px;
    }
}

/**********************************************************************************************
    For viewport >= 768
***********************************************************************************************/
@media only screen and (max-width: 768px) {
                /*
    Project Item Card section
    */
    .projectTitle {
        font-size: 18px;
        margin: 10px 0;
    }

    /* Language tags for Project Card */
    .projectCircleContainer {
        padding: 0 10px;
        gap: 5px;
    }

    .projectLanguageCircle {
        padding: 5px 5px;
        font-size: 8px;
    }

    /* Project Card Status Section */
    .projectCardFlex {
        padding: 5px 5px 0px 5px;
        gap: 10px;
    }

    .PCSpan {
        font-size: 10px;
        padding: 3px 0;
    }

    .PCStatus {
        padding: 3px 10px;
        border-radius: 15px;
        font-size: 10px;
    }

    .PCTrue {
        background-color: rgb(62, 62, 190);
    }

    /* Used to make project cards responsive */
    .PCResponsive {
        flex-direction: column;
        padding-top: 10px;
    }

}

/**********************************************************************************************
    For viewport >= 600
***********************************************************************************************/

@media only screen and (max-width: 600px) {
                    /*
    Project Item Card section
    */
    .projectTitle {
        font-size: 18px;
        margin: 10px 0;
    }

    /* Language tags for Project Card */
    .projectCircleContainer {
        padding: 0 10px;
        gap: 5px;
    }

    .projectLanguageCircle {
        padding: 5px 5px;
        font-size: 8px;
    }

    /* Project Card Status Section */
    .projectCardFlex {
        padding: 5px 5px 0px 5px;
        gap: 10px;
    }

    .PCSpan {
        font-size: 10px;
        padding: 3px 0;
    }

    .PCStatus {
        padding: 3px 10px;
        border-radius: 15px;
        font-size: 10px;
    }

    .PCTrue {
        background-color: rgb(62, 62, 190);
    }

    /* Used to make project cards responsive */
    .PCResponsive {
        flex-direction: column;
        padding-top: 5px;
    }

}